Package: com.test.motherwc
Name: motherwc
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: sunweiliang
Author: sunweiliang
Section: Tweaks
